<footer class="fixed-bottom">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    
      <span class="navbar-text">
      KayDee
    
      
    </div>
  </div>
</nav>


</footer>