<%= render "home/nav_bar" %>

<div class="back">

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12">
      
        <h1 class="text-center" style='color:#4be3cc;' >Welcome to Protonest!</h1>
        
      
      
    </form>   
  </div>
</div>

</div>
<%= render "home/nav_foot" %>