// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body, html {
    height: 100%;
  }

  body {
    padding-top: 50px;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #4be3cc;
  }
  


  .backc {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), #2a2b2b;

  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }